@import "./Utils/variables";
@import "./Utils/keyframes";

* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
    margin: 10px 70px;
    text-align: center;
}
h2 {
    margin: 0;
}
/* ------------------------------------- LOADER */
.loader-bloc {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    opacity: 1;
    animation: fade 1s forwards;
    animation-delay: 3s;
    z-index: 999;
}
.loader {
    color: $color-1;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
    transform: translateZ(0);
    animation: load 1.5s infinite ease, round 1.5s infinite ease;
  }

/* --------------------------------- HEADER */
header {
    font-family: $typo-texte;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 130px;
    display: flex;
    flex-direction: column;
    .logo {
        height: 80px;
        background-color: white;
        z-index: 3;
        box-shadow: 0px 0px 5px 3px lightgrey;
        img {
            height: 50%;
            width: 100%;
            margin: 20px 0 15px 0;
        }
    }
    .localisation {
        background-color: $color-grey;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        ._loc-icone {
            display: inline-block;
            font-size: 17px;
            color: $color-black;
        }
        ._ville-quartier {
            display: inline-block;
            padding-left: 15px;
            font-family: $typo-texte ;
            font-size: 17px;
            font-weight: 400;
            margin: 0px;
        }
    }
}
/* --------------------------------- MAIN */
main * {
    font-family: $typo-texte;
    box-sizing: border-box;
}

/* --------------------------------------- PRESENTATION */
.presentation {
    height: 350px;
    background-color: $color-grey2;
    padding: 30px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &-sous-titre {
        font-weight: 100;
        font-size: 20px;
        margin: 10px 40px;
        text-align: center;
    }
}
.btn {
    color: white;
    text-decoration: none;
    font-family: $typo-texte;
    font-size: 17px;
    .btn-action {
        background: rgb(255,121,218);
        background: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        height: 50px;
        width: 230px;
        margin: 15px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        box-shadow: 0px 4px 10px grey;
        &:hover {
            background: linear-gradient(170deg, lighten(#FF79DA, 3), lighten(#9356DC, 3));
            box-shadow: 0px 4px 15px 1px grey;
        }
    }
}
/* --------------------------------------- FONCTIONNEMENT */
.fonctionnement {
    height: 350px;
    margin: 50px 00px 90px 0px;
    padding: 0px 25px;
}
.f-carte {
    background-color: $color-grey2;
    height: 80px;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    box-shadow: 0px 7px 10px lightgrey;
    &_num {
        height: 23px;
        width: 23px;
        font-size: 15px;
        padding-top: 3px;
        border-radius: 15px;
        text-align: center;
        background-color: $color-1;
        color: white;
        position: relative;
        left: -10px;
        top: 4px;
    }
    &_f-icone {
        height: 20px;
        width: 20px;
        color: #7D7D7D;
        margin: 0 30px;
        font-size: 20px;
    }
    &_text {
        font-weight: 400;
        font-size: 18px;
    }
    &:hover {
        background-color: rgba(147,86,220,0.1);
        cursor: default;
        .f-carte_f-icone {
            color: #9356DC;
        }
    }
}
/* --------------------------------------- LISTE RESTAURANTS EN FONCTION DE LA LOCALISATION*/
.liste-restaurants {
    margin: 50px 0px 0px;
    padding: 50px 25px 50px;
    background-color: $color-grey2 ;
}
.restau-carte {
    background-color: white;
    border-radius: 30px;
    height: 350px;
    width: 100%;
    margin: 20px 0; 
    a {
        text-decoration: none;
        color: black;
    }
}
.carte-pic {
    height: 70%;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
    .img-verti {
        object-position: center;
    }
    &_label {
        position: absolute;
        right: 20px;
        top: 20px;
        &_new {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            color: darken($color: $color-3, $amount: 40);
            height: 35px;
            padding: 5px 15px;
            background-color: $color-3;
            border-radius: 3px;
        }
    }
}
.carte-body {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    ._titre {
        font-size: 22px;
        font-weight: 500;
        margin: 5px 0;
    }
    ._place {
        font-size: 19px;
        font-weight: 300;
        margin: 5px 0;
    }  
}
.fa-heart {
    display: inline-block;
    font-size: 30px;
    color: $color-black;
    margin-right: 20px;
    &:hover, &:active {
        font-weight: bold;
        background-size: 200% 100%;
        background: linear-gradient(#9356DC, #FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fill 1.5s ease backwards;
    }
}
/* --------------------------------- FOOTER */
footer {
    padding: 20px 5px;
    background-color: $color-black;
    color: white;
    font-family: $typo-texte;
    .h2-footer {
        color: white;
        font-family: $typo-titre;
        font-size: 18px;
        margin-left: 20px;
    }
    ul {
        list-style-type: none;
        padding-left: 20px;
    }
    li {
        margin: 10px 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
   .foot-icone {
       margin-right: 12px;
   }
}
/* ------------------------ PAGE 2 - 3 - 4 - 5 */
.h-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    flex-direction: row;
    a {
        text-decoration: none;
        color: $color-black;
    }
}
.logo-rest {
    position: relative;
    left: -11px;
}
.fa-arrow-left {
    display: inline-block;
    font-size: 25px;
    position: relative;
    left: -70px;
}
.restaurant-menu {
    background-color: $color-grey2;
}
.r-photo {
    overflow: hidden;
    height: 300px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.r-body {
    background-color: $color-grey2;
    border-radius: 35px 35px 0 0 ;
    position: relative;
    top: -40px;
    ._titre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px;
        padding-top: 25px;
        .r-h1 {
            font-family: $typo-titre;
            font-size: 30px;
            margin: 10px 0;
        }
    }
}

.menu-categorie {
    opacity: 0;
    animation: fadein 2s both;
    padding: 15px 0;
    .type-plats {
        font-family: $typo-texte;
        font-weight: 300;
        font-size: 20px;
        text-transform: uppercase;
        margin: 20px;
        .h2-underline {
            display: inline-block;
            padding-bottom: 6px;
            border-bottom: 3px solid $color-3;
        }
    }
    ._plat {
        margin: 20px;
        height: 70px;
        background-color: white;
        box-shadow: 0px 2px 5px lightgrey;
        border-radius: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
}
.p1 {
    animation-delay: 0.4s;
}
.p2 {
    animation-delay: 0.8s;
}
.p3 {
    animation-delay: 1.2s;
}

.titre-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding: 10px 0;
}
    .p-titre {
        font-weight: 600;
        font-size: 18px;
    }
    .p-desc {
        font-weight: 300;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
.prix-coche {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: -70px;
    .prix {
        margin-right: 10px;
        padding: 0 0 10px 20px;
        background-color: white;
        font-weight: 500;
        color: $color-black;
        &::before {
            content: "...";
            opacity: 0;
            transition: all 0.5s;
        }
    }
    .coche {
        background-color:$color-3;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
    }
    .fa-check {
        text-align: center;
        height: 20px;
        width: 20px;
        padding-top: 3px;
        font-size: 15px;
        border-radius: 50%;
        background-color: white;
        color: $color-3;
    }
}

._plat {
    &:hover {
        .prix-coche {
            margin: 0;
            transition: all 2s;
            animation: move 3s both;
            .prix::before {
                opacity: 1;
                transition: all 1.5s;
            }
        }
        .fa-check{
            animation: coche 1.5s;
        }
    }
}
.r-commande {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}