@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

$typo-titre: "Shrikhand", serif;
$typo-texte: "Roboto", Arial, sans-serif;

$color-1 : #9356DC;
$color-2: #FF79DA;
$color-3: #99E2D0;
$color-grey: #EAEAEA ;
$color-grey2: #F2F2F2;
$color-black: #353535;

$breakpoints: (
    tablette-et-desktop: 768px
);
